/* aura.css */
.aura-blob {
  position: absolute;
  height: var(--height, 10rem);
  width: var(--width, 10rem);
  top: var(--top, 0);
  left: var(--left, auto);
  right: var(--right, auto);
  z-index: var(--z, 10);
  pointer-events: none;
  filter: blur(var(--blur, 50px));
  background: linear-gradient(var(--gradient-colors));
}